<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.site.OshSiteInfoMapper">

    <!-- 新增网站使用记录 -->
    <insert id="insertUsage" parameterType="com.backstage.system.domain.site.OshSiteUsage">
        insert into osh_site_usage (site_id,
                                    user_id,
                                    create_time,
                                    update_time)
        values (#{oshSiteUsage.siteId},
                #{oshSiteUsage.userId},
                #{oshSiteUsage.createTime},
                #{oshSiteUsage.updateTime})
    </insert>

    <resultMap type="OshSiteMaintainer" id="OshSiteResponsibleResult">
        <result property="id" column="id"/>
        <result property="siteId" column="site_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <sql id="selectResponsibleVo">
        select id,
               site_id,
               user_id,
               user_name,
               created_by,
               create_time,
               update_by,
               update_time,
               delete_flag
        from osh_site_maintainer
    </sql>

    <select id="selectMaintainersBySiteIds" resultType="com.backstage.system.domain.site.OshSiteMaintainer">
        select m.*, u.username from
            osh_site_maintainer m
        left join osh_user u ON m.user_id = u.id
        <where>
            m.delete_flag = 0 AND u.delete_flag = 0
            AND site_id IN
            <foreach collection="siteIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="selectSitesList" resultType="com.backstage.system.domain.site.OshSiteInfo">
        select id, site_name, cover, description, status, last_check_time, site_type, site_config
        from osh_site_info
        <where>
            delete_flag = 0
            <if test="siteInfo.siteName != null and siteInfo.siteName != ''">
                and site_name like concat('%', #{siteInfo.siteName}, '%')
            </if>
            <if test="siteInfo.status != null">
                and status = #{siteInfo.status}
            </if>
            <if test="siteInfo.siteType != null and siteInfo.siteType != ''">
                and site_type = #{siteInfo.siteType}
            </if>
        </where>
    </select>

    <select id="selectSiteIdsByResourceFilter" resultType="long">
        select distinct id from (
            select s.id, concat(sr.resource_type, '|', sr.resource_id) as resource_filter
            from osh_site_info s
                left join osh_site_resource_relation sr on s.id = sr.site_id
            where s.delete_flag = 0 and sr.delete_flag = 0
        ) t
        <where>
            <if test="resourceFilters != null and resourceFilters.size() > 0">
                and resource_filter in
                <foreach collection="resourceFilters" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
