<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.user.OshUserMapper">

    <resultMap type="OshUser" id="UserResult">
        <result property="id"     column="id"      />
        <result property="username"     column="username"      />
        <result property="email"     column="email"      />
        <result property="password"     column="password"      />
        <result property="avatar"     column="avatar"      />
        <result property="sex"     column="sex"      />
        <result property="introduction"     column="introduction"      />
        <result property="githubAccount"     column="github_account"      />
        <result property="wechatName"     column="wechat_name"      />
        <result property="status"     column="status"      />
        <result property="violationCount"     column="violation_count"      />
        <result property="inviteCode"     column="invite_code"      />
        <result property="createTime"     column="create_time"      />
        <result property="createBy"     column="create_by"      />
        <result property="updateTime"     column="update_time"      />
        <result property="updateBy"     column="update_by"      />
        <result property="deleteFlag"     column="delete_flag"      />
    </resultMap>

    <sql id="selectUser">
        select id, username, email, password, avatar, sex, `introduction`, github_account, wechat_name, invite_code, violation_count, `status`, create_time, create_by, update_time, update_by, delete_flag from osh_user
    </sql>

    <select id="getUserByUsername" resultMap="UserResult">
        <include refid="selectUser"/>
        where username = #{username}
    </select>

    <select id="getUserByUsernameOrEmail" resultType="com.backstage.system.domain.user.OshUser">
        <include refid="selectUser"/>
        where username = #{name} or email = #{name}
    </select>

    <select id="getUserByEmail" resultType="com.backstage.system.domain.user.OshUser">
        <include refid="selectUser"/>
        where email = #{email}
    </select>

    <insert id="register">
        insert into osh_user (id, username, email, password, create_time, create_by, update_time, update_by) values (#{userId}, #{username}, #{email}, #{password}, now(), #{userId}, now(), #{userId});
    </insert>

    <insert id="addUniqueId">
        insert into osh_user_unique(user_id, unique_id, create_time, create_by, update_time, update_by) values (#{userId}, #{uniqueId}, now(), #{userId}, now(), #{userId})
    </insert>

    <insert id="addRole">
        insert into osh_user_role (user_id, role_id, expire_time, create_time, create_by, update_time, update_by, delete_flag)
        values (#{userId}, 1, null, now(), #{userId}, now(), #{userId}, 0)
    </insert>

    <select id="getUniqueIdByUserId" resultType="java.lang.String">
        select unique_id from osh_user_unique where user_id = #{userId}
    </select>

    <select id="getUserIdByUniqueId" resultType="java.lang.Long">
        select user_id from osh_user_unique where unique_id = #{uniqueId}
    </select>

    <update id="updateUniqueIdByUserId">
        update osh_user_unique set unique_id = #{uniqueId} where user_id = #{userId}
    </update>

    <update id="updatePasswordByEmail" >
        update osh_user set password = #{password} where email = #{email}
    </update>

    <update id="updatePasswordById" >
        update osh_user set password = #{password} where id = #{userId}
    </update>

    <update id="updateUserInfoById" >
        update osh_user set avatar = #{avatar}, sex = #{sex} where id = #{userId}
    </update>

    <select id="getPasswordById" resultType="java.lang.String">
        select password from osh_user where id = #{userId}
    </select>
    <select id="getUserInfoById" resultMap="UserResult">
        <include refid="selectUser"/>
        where status = 0 and id = #{userId}
    </select>

    <update id="updateEmailById">
        update osh_user set email = #{email} where id = #{userId}
    </update>

    <update id="deleteUniqueId">
        update osh_user_unique set delete_flag = 1 where user_id = #{userId}
    </update>





<!--    &lt;!&ndash;以下是若依代码生成&ndash;&gt;-->

<!--    <select id="selectUserList" parameterType="OshUser" resultMap="UserResult">-->
<!--        <include refid="selectUser"/>-->
<!--        <where>-->
<!--            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>-->
<!--            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>-->
<!--            <if test="email != null  and email != ''"> and email = #{email}</if>-->
<!--            <if test="password != null  and password != ''"> and password = #{password}</if>-->
<!--            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>-->
<!--            <if test="weixinUnionid != null  and weixinUnionid != ''"> and weixin_unionid = #{weixinUnionid}</if>-->
<!--            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>-->
<!--            <if test="desc != null  and desc != ''"> and desc = #{desc}</if>-->
<!--            <if test="status != null "> and status = #{status}</if>-->
<!--            <if test="createdTime != null "> and created_time = #{createdTime}</if>-->
<!--            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>-->
<!--        </where>-->
<!--    </select>-->

    <select id="selectUserById" parameterType="Long" resultMap="UserResult">
        <include refid="selectUser"/>
        where id = #{id}
    </select>

<!--    <insert id="insertUser" parameterType="OshUser" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into osh_user-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="username != null and username != ''">username,</if>-->
<!--            <if test="nickname != null">nickname,</if>-->
<!--            <if test="email != null">email,</if>-->
<!--            <if test="password != null">password,</if>-->
<!--            <if test="avatar != null">avatar,</if>-->
<!--            <if test="weixinUnionid != null">weixin_unionid,</if>-->
<!--            <if test="sex != null">sex,</if>-->
<!--            <if test="desc != null">desc,</if>-->
<!--            <if test="status != null">status,</if>-->
<!--            <if test="createdTime != null">created_time,</if>-->
<!--            <if test="updatedTime != null">updated_time,</if>-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--            <if test="username != null and username != ''">#{username},</if>-->
<!--            <if test="nickname != null">#{nickname},</if>-->
<!--            <if test="email != null">#{email},</if>-->
<!--            <if test="password != null">#{password},</if>-->
<!--            <if test="avatar != null">#{avatar},</if>-->
<!--            <if test="weixinUnionid != null">#{weixinUnionid},</if>-->
<!--            <if test="sex != null">#{sex},</if>-->
<!--            <if test="desc != null">#{desc},</if>-->
<!--            <if test="status != null">#{status},</if>-->
<!--            <if test="createdTime != null">#{createdTime},</if>-->
<!--            <if test="updatedTime != null">#{updatedTime},</if>-->
<!--        </trim>-->
<!--    </insert>-->

<!--    <update id="updateUser" parameterType="OshUser">-->
<!--        update osh_user-->
<!--        <trim prefix="SET" suffixOverrides=",">-->
<!--            <if test="username != null and username != ''">username = #{username},</if>-->
<!--            <if test="nickname != null">nickname = #{nickname},</if>-->
<!--            <if test="email != null">email = #{email},</if>-->
<!--            <if test="password != null">password = #{password},</if>-->
<!--            <if test="avatar != null">avatar = #{avatar},</if>-->
<!--            <if test="weixinUnionid != null">weixin_unionid = #{weixinUnionid},</if>-->
<!--            <if test="sex != null">sex = #{sex},</if>-->
<!--            <if test="desc != null">desc = #{desc},</if>-->
<!--            <if test="status != null">status = #{status},</if>-->
<!--            <if test="createdTime != null">created_time = #{createdTime},</if>-->
<!--            <if test="updatedTime != null">updated_time = #{updatedTime},</if>-->
<!--        </trim>-->
<!--        where id = #{id}-->
<!--    </update>-->

<!--    <delete id="deleteUserById" parameterType="Long">-->
<!--        delete from osh_user where id = #{id}-->
<!--    </delete>-->

<!--    <delete id="deleteUserByIds" parameterType="String">-->
<!--        delete from osh_user where id in-->
<!--        <foreach item="id" collection="array" open="(" separator="," close=")">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </delete>-->
</mapper>
