<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.tool.OshToolPurchaseRecordMapper">

    <resultMap id="OshToolPurchaseRecordResult" type="com.backstage.system.domain.tool.OshToolPurchaseRecord">
        <id property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="paymentNo" column="payment_no"/>
        <result property="userId" column="user_id"/>
        <result property="packageId" column="package_id"/>
        <result property="packageNameSnapshot" column="package_name_snapshot"/>
        <result property="packageUseCountSnapshot" column="package_use_count_snapshot"/>
        <result property="packageCashAmountSnapshot" column="package_cash_amount_snapshot"/>
        <result property="packagePointAmountSnapshot" column="package_point_amount_snapshot"/>
        <result property="packagePayTypeSnapshot" column="package_pay_type_snapshot"/>
        <result property="orderStatus" column="order_status"/>
        <result property="grantStatus" column="grant_status"/>
        <result property="grantTime" column="grant_time"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <resultMap id="ToolPurchaseListVOResult" type="com.backstage.system.domain.vo.tool.ToolPurchaseListVO">
        <result property="orderNo" column="order_no"/>
        <result property="paymentNo" column="payment_no"/>
        <result property="packageId" column="package_id"/>
        <result property="packageNameSnapshot" column="package_name_snapshot"/>
        <result property="packageUseCountSnapshot" column="package_use_count_snapshot"/>
        <result property="packageCashAmountSnapshot" column="package_cash_amount_snapshot"/>
        <result property="packagePointAmountSnapshot" column="package_point_amount_snapshot"/>
        <result property="packagePayTypeSnapshot" column="package_pay_type_snapshot"/>
        <result property="orderStatus" column="order_status"/>
        <result property="grantStatus" column="grant_status"/>
        <result property="grantTime" column="grant_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="purchaseRecordColumns">
        id, order_no, payment_no, user_id, package_id,
        package_name_snapshot, package_use_count_snapshot,
        package_cash_amount_snapshot, package_point_amount_snapshot, package_pay_type_snapshot,
        order_status, grant_status, grant_time, remark,
        create_by, create_time, update_by, update_time, delete_flag
    </sql>

    <insert id="insertToolPurchaseRecord" parameterType="com.backstage.system.domain.tool.OshToolPurchaseRecord"
            useGeneratedKeys="true" keyProperty="id">
        insert into osh_tool_package_purchase_record (
            order_no, payment_no, user_id, package_id, package_name_snapshot,
            package_use_count_snapshot, package_cash_amount_snapshot, package_point_amount_snapshot,
            package_pay_type_snapshot, order_status, grant_status, grant_time, remark,
            create_by, create_time, update_by, update_time, delete_flag
        ) values (
            #{orderNo}, #{paymentNo}, #{userId}, #{packageId}, #{packageNameSnapshot},
            #{packageUseCountSnapshot}, #{packageCashAmountSnapshot}, #{packagePointAmountSnapshot},
            #{packagePayTypeSnapshot}, #{orderStatus}, #{grantStatus}, #{grantTime}, #{remark},
            #{createBy}, now(), #{updateBy}, now(), #{deleteFlag}
        )
    </insert>

    <select id="selectByOrderNo" resultMap="OshToolPurchaseRecordResult">
        select <include refid="purchaseRecordColumns"/>
        from osh_tool_package_purchase_record
        where order_no = #{orderNo}
          and delete_flag = 0
        limit 1
    </select>

    <select id="selectByPaymentNo" resultMap="OshToolPurchaseRecordResult">
        select <include refid="purchaseRecordColumns"/>
        from osh_tool_package_purchase_record
        where payment_no = #{paymentNo}
          and delete_flag = 0
        limit 1
    </select>

    <select id="selectPurchaseRecordsByUserId" resultMap="ToolPurchaseListVOResult">
        select order_no, payment_no, package_id, package_name_snapshot,
               package_use_count_snapshot, package_cash_amount_snapshot, package_point_amount_snapshot,
               package_pay_type_snapshot, order_status, grant_status, grant_time, create_time
        from osh_tool_package_purchase_record
        where user_id = #{userId}
          and delete_flag = 0
        order by create_time desc, id desc
    </select>

    <update id="updateOrderStatusByOrderNo">
        update osh_tool_package_purchase_record
        set order_status = #{orderStatus},
            update_by = #{operator},
            update_time = now()
        where order_no = #{orderNo}
          and delete_flag = 0
    </update>

    <update id="updateGrantSuccess">
        update osh_tool_package_purchase_record
        set grant_status = 1,
            grant_time = #{grantTime},
            update_by = #{operator},
            update_time = now()
        where id = #{id}
          and grant_status = 0
          and delete_flag = 0
    </update>

    <update id="updateGrantFailed">
        update osh_tool_package_purchase_record
        set grant_status = 2,
            remark = #{remark},
            update_by = #{operator},
            update_time = now()
        where id = #{id}
          and grant_status = 0
          and delete_flag = 0
    </update>
</mapper>
